/* Universal Selector */
* {
   margin: 0;
   padding: 0;
}
/* Element Selector */
/* h1 {
   color: red;
}
p {
   color: blue;
} */

/* Class Selector */
.para {
   color: aqua;
}
.hello {
   font-size: 42px;
}

/* ID Selector */
#idOne {
   background-color: #333;
   color: blueviolet;
   font-size: 32px;
}

/* Selector list */
.para, .hello, .paraTwo{
   font-weight: 700;
}