* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 25px;
}
.navLink {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border: 1px Solid red;
}
