body {
   background-color: #333333;
}
body p {
   font-size: 25px;
}
/* Desendent Selactor */
main p {
   font-size: 25px;
   color: cyan;
}
h1 > p {
   color: white;
}

/* Adjacent sebling */
section + p {
   color: blueviolet;
}

/* genaral selection selacter*/
section ~ p {
   color: #b800a8;
}

/* Attribute selection selacter*/
[target="_blank"] {
   text-decoration: none;
   color: pink;
}

[alt="pw1"] {
   background-color: red;
}
