.pokedexWraper {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: none;
   max-height: fit-content;
   margin: auto;
}
.headTag {
   letter-spacing: 5px;
   color: black;
}
