.pokedexWraper {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: none;
   border-radius: 15px;
   background-color: white;
   max-width: 1000px;
   max-height: fit-content;
   padding: 20px;
   margin: auto;
}
.headTag {
   letter-spacing: 10px;
   color: black;
}
