/* css reset */

* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}

/* browser */

body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   font-family: "Poppins", sans-serif;
   background-color: rgb(195, 195, 195);
   color: gray;
}

.card {
   width: 300px;
   height: 450px;
   padding: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
   background-color: rgb(221, 221, 221);
   border-radius: 10px;
   /* box-shadow: 0 0 5px red; */
   box-shadow: 5px 5px 5px gray, -5px -5px 5px white;
}

.profileImage {
   width: 120px;
   height: 120px;
   margin: auto;
   border-radius: 50%;
   border: 5px solid rgb(191, 191, 191);
   box-shadow: 2px 2px 2px gray, -2px -2px 2px white;
}

.profleName {
   font-weight: 600;
   line-height: 20px;
}

.profileDetail {
   font-weight: 500;
}

.topSection {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.socialMedia {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.socialMedia i {
   font-size: 18px;
   align-items: center;
   padding: 8px;
   margin: 3px 5px;
}

.socialMedia div:first-child {
   color: blue;
   padding: auto 15px;
}
.facebook i:first-child {
   margin: 3px 7px;
}

.socialMedia div:last-child {
   color: red;
}

.socialMedia div:nth-child(2) {
   color: #0891b2;
}

.socialMedia div:nth-child(3) {
   color: #db2b81;
}
.socialMedia div {
   box-shadow: 2px 2px 2px gray, -2px -2px 2px white;
   border-radius: 75%;
}

.myBtn {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 8px auto;
}

.myBtn button {
   padding: 8px 22px;
   box-shadow: 2px 2px 2px gray, -2px -2px 2px white;
   border: none;
   border-radius: 10px;
   font-size: 16px;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   background-color: #dddddd;
   color: gray;
}

.LikeAndComment {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.LikeAndComment div:first-child {
   border-right: 1px solid gray;
   display: flex;
   width: 100%;
   justify-content: center;
}
.LikeAndComment div:nth-child(2) {
   border-right: 1px solid gray;
   display: flex;
   width: 100%;
   justify-content: center;
}
.LikeAndComment div:last-child {
   display: flex;
   width: 100%;
   justify-content: center;
}
.LikeAndComment p {
   font-size: 16px;
   font-weight: 600;
   padding: 5px;
}
.LikeAndComment i {
   font-size: 20px;
   padding: 8px 5px 0 5px;
}
